.header {
  font-size: large;
}

span {
  margin: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(87, 93, 94);
}

#home {
  float: left;
}

#search {
  float: right;
}
