<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-header></app-header>
</div>

<div class="title">
  <h1>
    {{ title }}
    </h1>
    <nav>
      <a routerLink="/processedFoods" class="nav">Processed Foods</a>
      <a routerLink="/ingredients" class="nav">Ingredients</a>
      <a routerLink="/naturalResources" class="nav">Natural Resources</a>
    </nav>
</div>




<div style="display: flex; flex-grow: grow">
  <app-image-scroll></app-image-scroll>
  <app-item-details></app-item-details>{{ corn.name }}   {{ corn.image }}
</div>

<div style="text-align:center">

</div>


<p><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></p>

<p>


</p>
