img {
  opacity: 0.2;
  transition: 0.5s ease;
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
}

img:hover {
  opacity: 1;
  transition: 0.5s ease;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.images {
  margin: 7%;
}
