
<div>
<p>Name: Twinkie</p>
<p>Manufacturer: Hostess</p>
<p>Ingredients: Enriched Bleached Wheat Flour [Flour, Reduced Iron, 
    B Vitamins (Niacin, Thiamine Mononitrate (B1), Riboflavin (B2), 
    Folic Acid)], Corn Syrup, Sugar, High Fructose Corn Syrup, Water, 
    Partially Hydrogenated Vegetable and/or Animal Shortening 
    (Soybean, Cottonseed and/or Canola Oil, Beef Fat), Whole Eggs, 
    Dextrose. Contains 2% or Less of: Modified Corn Starch, 
    Glucose, Leavenings (Sodium Acid Pyrophosphate, Baking Soda, 
    Monocalcium Phosphate), Sweet Dairy Whey, Soy Protein Isolate, 
    Calcium and Sodium Caseinate, Salt, Mono and Diglycerides, 
    Polysorbate 60, Soy Lecithin, Soy Flour, Cornstarch, Cellulose 
    Gum, Sodium Stearoyl Lactylate, Natural and Artificial Flavors, 
    Sorbic Acid (to Retain Freshness), Yellow 5, Red 40.</p>
</div>
